@media only screen and (max-width: 400px),
only screen and (min-width: 1800px){
    div { 
        width: 50%; 
    }
}

section{
    border: 3px solid black;
    background-color: rgba(0, 0, 0, 0.377);
    box-shadow:10px 10px 16px 3px black;
    border-radius: 20px;
    margin: 10%;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url(img/natal.jpeg);
    background-size: cover;
}
h3{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h2{
    color:white;
    text-align: center;
    margin-top: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
a{
    color: rgb(47, 143, 221);
}
.fds:hover{
    background-color: rgb(137, 96, 175);
}
